<div class="container mt-5">
  <%= form_with(model: user_transaction, class: "transaction-form shadow-lg") do |form| %>
    <% if user_transaction.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(user_transaction.errors.count, "error") %> prohibited this transaction from being saved:</h4>
        <ul>
          <% user_transaction.errors.full_messages.each do |error_message| %>
            <li><%= error_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.hidden_field :owner_id, value: current_user.id %>
    </div>

    <div class="mb-3">
      <%= form.label :category_id, "Category" %>
      <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Select Category" }, class: "form-select transaction-card" %>
    </div>

    <div class="mb-3">
      <%= form.label :amount, "Amount" %>
      <%= form.text_field :amount, class: "form-control transaction-card", placeholder: "Enter amount" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, "Description" %>
      <%= form.text_field :description, class: "form-control transaction-card", placeholder: "Enter description" %>
    </div>

    <div class="text-center transaction-card">
      <%= form.submit "Submit", class: "btn btn-outline-primary" %>
    </div>
  <% end %>
</div>
