<div id="<%= dom_id user_transaction %>">

  <p>
    <strong>Owner:</strong>
    <%= User.find_by(id: user_transaction.owner_id)&.username %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= Category.find_by(id: user_transaction.category_id).name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= user_transaction.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= user_transaction.description %>
  </p>

</div>
