<div id="<%= dom_id user_transaction %>">
  <p>
    <strong>Category:</strong>
    <%= user_transaction.category_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= user_transaction.owner_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= user_transaction.category_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= user_transaction.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= user_transaction.description %>
  </p>

</div>
