<div class="card bg-light shadow transaction-card">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">
      <%= user_transaction.description %>
      <i class="fas fa-tag ml-2" title="Category"></i>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Category: <%= user_transaction.category_id.present? ? Category.find_by(id: user_transaction.category_id)&.name || 'Uncategorized' : 'Uncategorized' %>
    </h6>
    <p class="card-text">Amount: $<%= user_transaction.amount %></p>
    <% if current_page?(action: 'index') %>
      <%= link_to "Show Details", current_transaction_path(username: current_user.username, id: user_transaction.id), class: "btn btn-sm btn-outline-success mt-auto" %>
    <% end %>
  </div>
  <div class="card-footer text-righ d-flex justify-content-center align-items-center">
    <%= link_to "Edit", edit_transaction_path(id: user_transaction.id), class: "btn btn-sm btn-outline-secondary" %>
    <%= button_to "Delete", user_transaction, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger", style: "margin-left: 5px;" %>
  </div>
</div>
