

<div class="container">

  <%= render @user_transaction %>


  <div>
    <%= link_to "Edit this user transaction", edit_transaction_path(id: @user_transaction.id) %> |
    <%= link_to 'Back to Transactions', current_user_transactions_path(username: current_user.username)  %>

    <%= button_to "Destroy this user transaction", @user_transaction, method: :delete %>
  </div>


  <% @credit_cards.each do |credit_card| %>

    <%= render "credit_cards/credit_card", credit_card: credit_card, total: @credit_card_totals[credit_card.id] %>

  <% end %>

</div>
