<div class="card bg-dark-blue mb-4 d-flex w-50">
  <div class="card-body">
    <div class="d-flex">
      <h5 class="card-title text-light"><%= credit_card.name %></h5>
      <% if favorite = Favorite.find_by(user_id: current_user, credit_card_id: credit_card.id)  %>
        <%= link_to 'Unfavorite', favorite, data: { turbo_method: :delete }, class: "btn btn-danger" %>
      <% else %>
        <%= render "favorites/form", favorite: Favorite.new, credit_card_id: credit_card.id %>
      <% end %>
      <%#= render "favorites/favorite_unfavorite", favorite: Favorite.find_by(user_id: current_user, credit_card_id: credit_card.id) %>
    </div>
    <img src="<%= credit_card.image_url %>" class="card-img-top" alt="...">
    <p class="card-text text-cream"><%= credit_card.details %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-light-blue">
      <p>Annual Fee: <%= credit_card.annual_fee %></p>
    </li>
    <li class="list-group-item bg-light-blue">
      <p>Issuer: <%= credit_card.issuer %></p>
    </li>
    <li class="list-group-item bg-light-blue">
      <h5>
        Total Cash Back: <%= "%.2f" % total.round(2) %>
      </h5>
    </li>
  </ul>
  <div class="card-body">
    <%= link_to 'Card Details', credit_card.url, target: "_blank", class: "text-light" %>
  </div>
</div>
