<%= render "home/hero" %>


<%= render "home/explore" %>


<div class="div-with-background" style="background-image: url('<%= asset_path('credit-card-3.avif') %>');">
  <div class="overlay"></div>
</div>



<%= render "home/benefits" %>

<div class="div-with-background" style="background-image: url('<%= asset_path('credit_card_1.jpg') %>');">
  <div class="overlay">
  </div>
</div>


<%= render "home/tips_tricks" %>

<div class="div-with-background" style="background-image: url('<%= asset_path('credit-card-7.jpg') %>');">
  <div class="overlay">
  </div>
</div>


<%= render "home/instructive" %>


<%= render "home/reviews" %>
